backend/www/assets/*
!backend/www/assets/.gitkeep
frontend/www/assets/*
!frontend/www/assets/.gitkeep

console/runtime/*
!console/runtime/.gitkeep
frontend/runtime/*
!frontend/runtime/.gitkeep
backend/runtime/*
!backend/runtime/.gitkeep

console/config/main-local.php
frontend/config/main-local.php
backend/config/main-local.php

console/config/main-env.php
frontend/config/main-env.php
backend/config/main-env.php

console/config/params-local.php
frontend/config/params-local.php
backend/config/params-local.php
common/config/params-local.php

console/config/params-env.php
frontend/config/params-env.php
backend/config/params-env.php
common/config/params-env.php

console/config/evironments/params-*.php
frontend/config/evironments/params-*.php
backend/config/evironments/params-*.php
common/config/environments/params-*.php

console/config/evironments/main-*.php
frontend/config/evironments/main-*.php
backend/config/evironments/main-*.php



